{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'app1/css/sem3/task3.css' %}">
    <title>Задание 3</title>
</head>

<body>
    <header>
        <nav class="header-logo">
            <img class="header-logo" src="{% static 'media/logo.png'%}" alt="Logo">
        </nav>
        <nav class="header-info">
            <h2 class="black header-title">$$$ website?</h2>
            <h3 class="black header-task">Задание 3</h3>
        </nav>

    </header>

    <aside>
        <nav class="aside-link">
            <a href="{% url 'home:home' %}"  class="black">Главная страница</a>
        </nav>
        <nav class="aside-link">
            <a href="#links" class="black">Links</a>
        </nav>
        <nav class="aside-link">
            <a href="#table" class="black">Table</a>
        </nav>
        <nav class="aside-link">
            <a href="#form" class="black">Form</a>
        </nav>
    </aside>


    <main>
        <div class="links" id="links">
            <h1>Cписок гиперссылок:</h1>
            <ul>
                <li><a href="http://kubsu.ru">Абсолютная гиперссылка на главную страницу сайта kubsu.ru</a></li>
                <li><a href="https://kubsu.ru">Абсолютная гиперссылка на главную сайта kubsu.ru в протоколе https</a></li>
                <li><a href="https://kubsu.ru"><img src="https://rai77.com/upload/000/u1/1/7/babochka-nashla-samoe-bezopasnoe-mesto-sovershiv-posadku-na-nosu-druzhelyubnogo-psa-foto-big.jpg" height="25%" width="25%" alt="Ссылка на собаку"></a></li>
                <li><a href="/index">Сокращенная ссылка на внутреннюю страницу</a></li>
                <li><a href="/">Сокращенная ссылка на главную страницу</a></li>
                <li><a href="#">Ссылка на фрагмент текущей страницы</a></li>
                <li><a href="https://mysite.com/?p1=a1&p2=a2&p3=a3">Ссылка с тремя параметрами в URL</a></li>
                <li><a href="/?id=gpus">Ссылка с параметром id в URL</a></li>
                <li><a href="./index">Относительная ссылка на страницу в текущем каталоге</a></li>
                <li><a href="/about">Относительная ссылка на страницу в каталоге about</a></li>
                <li><a href="../index">Относительная ссылка на страницу в каталоге уровнем выше текущего</a></li>
                <li><a href="../../index">Относительная ссылка на страницу в каталоге двумя уровнями выше</a></li>
                <li><p>Контекстная <a href="/">ссылка</a> в тексте абзаца</p></li>
                <li><a href="https://www.jetbrains.com/ru-ru/products/#type=team">Ссылка на фрагмент страницы стороннего сайта</a></li>
                <li>
                    <img src="https://rai77.com/upload/000/u1/1/7/babochka-nashla-samoe-bezopasnoe-mesto-sovershiv-posadku-na-nosu-druzhelyubnogo-psa-foto-big.jpg" alt="Ссылка на собаку" height="25%" width="25%" usemap="#dog">
                    <map name="dog">
                        <area shape="circle" coords="20,20,50" alt="circle" href="https://vk.com/">
                        <area shape="rect" coords="60,60,160,120" alt="rect" href="https://web.telegram.org/a/">
                    </map>
                </li>
                <li><a href="">Ссылка с пустым href</a></li>
                <li><a>Ссылка без href</a></li>
                <li><a href="/" rel="nofollow">Ссылка, по которой запрещен переход поисковикам</a></li>
                <li><a href="/" rel="noindex">Запрещенная для индексации поисковиками</a></li>
            </ul>
            <ol>
                <li><a href="/">title</a></li>
                <li><a href="/">title</a></li>
                <li><a href="/">title</a></li>
            </ol>
            <ul>
                <li><a href="">Ссылка на файл на сервере FTP с авторизацией</a></li>
            </ul>
        </div>

        <div class="table" id="table">
            <h1>Таблица:</h1>
            <table class="black">
                <tr class="odd">
                    <th>Колонка 1</th>
                    <th>Колонка 2</th>
                    <th>Колонка 3</th>
                    <th>Колонка 4</th>
                </tr>
                <tr class="even">
                    <td>Ячейка 1.1</td>
                    <td>Ячейка 1.2</td>
                    <td colspan="2">Ячейка 1.3 и 1.4</td>
                </tr>
                <tr class="odd">
                    <td colspan="2">Ячейка 2.1 и 2.2</td>
                    <td>Ячейка 2.3</td>
                    <td>Ячейка 2.4</td>
                </tr>
                <tr class="even">
                    <td colspan="3">Ячейка 3.1, 3.2 и 3.3</td>
                    <td>Ячейка 3.4</td>
                </tr>
                <tr class="odd">
                    <td>Ячейка 4.1</td>
                    <td>Ячейка 4.2</td>
                    <td>Ячейка 4.3</td>
                    <td>Ячейка 4.4</td>
                </tr>
                <tr class="even">
                    <td>Ячейка 5.1</td>
                    <td>Ячейка 5.2</td>
                    <td>Ячейка 5.3</td>
                    <td>Ячейка 5.4</td>
                </tr>
                <tr class="odd">
                    <td colspan="4">Ячейка 6.1, 6.2, 6.3 и 6.4</td>
                </tr>
            </table>
        </div>

        <div class="form" id="form">
            <h1>Форма</h1>
            <form action="#" method="post">
                <label for="fio">ФИО:</label>
                <input type="text" id="fio" name="fio" required><br>

                <label for="phone">Телефон:</label>
                <input type="tel" id="phone" name="phone" required><br>

                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required><br>

                <label for="birthdate">Дата рождения:</label>
                <input type="date" id="birthdate" name="birthdate" required><br>

                <label>Пол:</label>
                <input type="radio" id="male" name="gender" value="male" required>
                <label for="male">Мужской</label>
                <input type="radio" id="female" name="gender" value="female" required>
                <label for="female">Женский</label><br>

                <label for="programming-languages">Любимый язык программирования:</label>
                <select id="programming-languages" name="programming-languages[]" multiple required>
                    <option value="Pascal">Pascal</option>
                    <option value="C">C</option>
                    <option value="C++">C++</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="PHP">PHP</option>
                    <option value="Python">Python</option>
                    <option value="Java">Java</option>
                    <option value="Haskell">Haskell</option>
                    <option value="Clojure">Clojure</option>
                    <option value="Prolog">Prolog</option>
                    <option value="Scala">Scala</option>
                </select><br>

                <label for="biography">Биография:</label><br>
                <textarea id="biography" name="biography" rows="4" cols="50"></textarea><br>

                <input type="checkbox" id="contract" name="contract" required>
                <label for="contract">С контрактом ознакомлен(а)</label><br>

                <input type="submit" value="Сохранить">
            </form>
        </div>
    </main>

    <footer>
        <h3 class = "black in-footer">(с) Чупилко Денис</h3>
    </footer>
</body>

</html>