#no-pop-up {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contract {
    align-self: flex-start;
}

label#for-contract {
    font-size: 12px;
}

.label-center {
    align-self: center;
}

.size-input {
    align-self: center;
    width: 90%;
    height: 2%;
}

#message {
    align-self: center;
    width: 90%;
    height: 15%;
}

.div-input {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

#pop-up {
    display: none;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #4b454b;
    border: #ffd866 solid 2px;
    border-radius: 5px;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
}

#img-dog {
    border-radius: 5px;
    border: #2d2a2e solid 2px;
    margin: 10px;
    width: 150px;
    align-self: center;
}

#to-pop-up {
    padding: 10px;
    margin: 10px;
    max-width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4b454b;
    border: #ffd866 solid 2px;
    border-radius: 5px;
}

#close-pop-up {
    left: 0;
    align-self: flex-start;
    color: #ff403c;
    margin-top: -10px;
    margin-right: -10px;
}

#for-x {
    text-align: right;
    margin: 0;
    padding: 5px;
}

#h1-form {
    margin-bottom: 15px;
    text-align: center;
}

#div-with-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submit-request {
    font-size: 20px;
    font-family: "JetBrains Mono";
}

.incor-field {
    border: #ff403c solid 2px;
}

.h2-error {
    color: #ff403c;
}

.h2-result {
    color: #8aff3c;
}

.user-select-none {
    user-select: none;
}

.pointer-event-none {
    pointer-events: none;
}

@media screen and (min-width: 1100px) {
    #to-pop-up {
        width: 33%;
    }
}
